.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.modal-btn-wrapper {
    display: flex;
    justify-content: space-between;
}